form{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

label{
    margin-bottom: 0.5em;
    height: 2em;
}

label, input, button{
    width: 20%;
    
}


input.error{
    color: tomato;
    font-weight: bolder;
    border: 2pz solid tomato;
}

.input-error{
    color: tomato;
    font-size: smaller0;
}

button{

    font-weight: bolder;
    text-transform: uppercase;
    padding: 0.5em;
}